
@font-face {
  font-family: 'Didot';
  src: url('Didot.eot?#iefix') format('embedded-opentype'),  url('Didot.woff') format('woff'), url('Didot.ttf')  format('truetype'), url('Didot.svg#Didot') format('svg');
  font-weight: normal;
  font-style: normal;
}
